/* For quick start up - feel free to start styling in this file... once the file becomes bigger and harder to manage then copy and paste the information to their corresponding files */
/* 

It is best to seperate the variables into the following files once this file grows:

1. Colors
2. Typography or Fonts
3. Urls
4. Other
5. Media Queries

*/
/* 

Mixins are functions that can be used within classes to set up most common properties. 

1. You can include a mixin in a primary class while the sub classes would specify anything that the primary class does not such as width, height, margins, paddings etc. This requires more markup on HTML to make sure the button recieves all formatting, similar to bootstrap. 

* For example:
.btn-primary (would hold the mixin - while below would specify width and height)
- .btn-small
- .btn-large
- .btn-full

*/
/* 

BASE 

All element tags go here as "BASE" (no classes, no ids)

Examples:
1. html
2. body
3. input
4. a
5. button
6. form
etc ..

*/
html {
  font-size: 62.5%; }

body {
  background: #f2f2f2;
  color: #231f20;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

button {
  background: #36d6aa;
  border: none;
  border-radius: 5px;
  color: #231f20;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: all 0.3s ease; }

button:hover, button:focus {
  background: #25b48d; }

button:active, button:visited {
  background: #18755b; }

input {
  border-radius: 5px;
  cursor: default; }

main {
  margin: 10rem auto;
  text-align: center; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/* 

Helpers are placed here (only classes)

Examples:
1. row
2. column
3. error
4. success
etc ...

*/
/*

Base components are the "atoms" of the website. It's the smallest piece that you can break down regular components.

example of base components:
1. Badge
2. Button
3. Example
4. Icon
3. Image Badge
4. Menu-item
5. etc

*/
.btn-primary {
  font-size: 15px;
  font-size: 1.5rem;
  padding: 10px 20px;
  padding: 1rem 2rem; }

.travel-grid-snapshot {
  width: 50%;
  height: auto; }

.component-grid-travel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.6fr 1.4fr 2fr 2fr;
      grid-template-columns: 1fr 1.6fr 1.4fr 2fr 2fr;
  -ms-grid-rows: 1.5fr 1.1fr 1.5fr 1.9fr;
      grid-template-rows: 1.5fr 1.1fr 1.5fr 1.9fr;
  grid-gap: 5px;
  grid-gap: 0.5rem;
  min-height: 100vh;
  margin: 50px;
  margin: 5rem; }

.component-grid-travel li {
  background-color: #25b48d; }

.component-grid-travel #travel-pic-1 {
  grid-area: 1 / 1 / 3 / 2; }

.component-grid-travel #travel-pic-2 {
  grid-area: 3 / 2 / 4 / 4; }

.component-grid-travel #travel-pic-3 {
  grid-area: 2 / 4 / 4 / 6; }

.component-grid-travel #travel-pic-4 {
  grid-area: 4 / 2 / 5 / 3; }

.component-grid-travel #grey-box-1 {
  grid-area: 1 / 2 / 3 / 4; }

.component-grid-travel #grey-box-2 {
  grid-area: 1 / 4 / 2 / 6; }

.component-grid-travel #grey-box-3 {
  grid-area: 3 / 1 / 5 / 2; }

.component-grid-travel #grey-box-4 {
  grid-area: 4 / 3 / 5 / 5; }

.component-grid-travel #grey-box-5 {
  grid-area: 4 / 5 / 5 / 6; }

/* 

Partials are essensial pieces that make up the overall page. 

Such as:
1. Header
2. Footer

*/
/* 

Rename this file to match the page that you wish to address layout and positioning of components

Some examples include:
1. Home Page
2. Contact Page
3. Profile Page
4. News Feed Page

*/
