/* 

Helpers are placed here (only classes)

Examples:
1. row
2. column
3. error
4. success
etc ...

*/

.page-wrapper {
  margin: auto;
  @include rem(max-width, 1000px);
  @include rem(padding, 10px);
}

.flex-container {
  justify-content: center;
}

.side-by-side {
  display: flex;
  flex-direction: row;
}

.stack {
  display: flex;
  flex-direction: column;
}